.contact-form-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
	width: 950px;
	padding-bottom: 80px 	; 
}

.contact-form input{
	width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form select{
	width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.contact-form input:focus{
	outline: none;
  border-color: #888;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.contact-form textarea:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.contact-form select:focus{
	outline: none;
  border-color: #888;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.contact-form .submit-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form .submit-button:hover {
  background-color: #141615;
}
