
.question{
	position: relative;
  width: 100%;
	width: 1440px;
  justify-content: center;
  align-items: center;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 100px;
}
.header{
	text-align: center;
}
.header h1 {
	font-size: 100px;
	font-weight: 400;
}
h2 {
	font-size: 25px;
	font-weight: 500;
}
p{
	position: absolute;
	font-size: 15px;
	font-weight: 300;
}
.faq-item{
	padding-top: 70px;
}

.faq-section{
	margin-left: 50px;
}