body {
	font-family: Poppins, sans-serif;
}

.footer-container{
	background-color: #141615;
}
.footer {
	color: #333; 
	margin: 0 auto;
	overflow: hidden;
	width: 1440px;
}

.footer-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #3b3737;
	padding: 30px 40px;
	gap: 20px;
}

.footer-top p {
	color: white;
	font-size: 15px;
	font-weight: 200;
	max-width: 900px;
}

.book-now {
	background-color: #fff;
	color: #000;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 220px;
	border-radius: 50px;
	font-weight: 500;
	transition: all 0.3s ease;
}

.book-now:hover {
	background-color: #eaeaea;
}

.footer-links {
	display: flex;
	justify-content: space-between; 
	flex-wrap: wrap;
	gap: 40px;
	padding: 40px;
}

/* Колонки */
.footer-column h4 {
	font-size: 20px;
	margin-bottom: 12px;
	color: white;
	font-weight: 400;
}

.footer-column ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

.footer-column ul li {
	margin-bottom: 8px;
}

.footer-column ul li a {
	color: #b8b5b5;
	text-decoration: none;
	font-weight: 200;
}

.footer-column ul li a:hover {
	text-decoration: underline;
}

/* Newsletter */
.newsletter-container {
	max-width: 500px;
	padding-top: 20px;
	color: white;
}

.headline {
	position: relative;
	font-size: 28px;
	margin: 10px 0;
	font-weight: 400;
	color: white;
}

.subtext {
	position: relative;
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 200;
	color: white;
}

.email-form {
	display: flex;
	margin-bottom: 15px;
}

.email-input {
	flex: 1;
	padding: 10px 15px;
	border: 2px solid #fff;
	border-radius: 50px 0 0 50px;
	background: transparent;
	color: #fff;
	outline: none;
}

.email-input::placeholder {
	color: #aaa;
}

.subscribe-button {
	padding: 10px 20px;
	border: none;
	background-color: #fff;
	color: #121212;
	border-radius: 0 30px 30px 0;
	cursor: pointer;
	font-weight: 400;
	transition: all 0.3s ease;
}

.subscribe-button:hover {
	background-color: #eaeaea;
}

.checkbox-container {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 12px;
	margin-top: 10px;
}

/* Соц. иконки */
.social-icons {
	display: flex;
	gap: 15px;
	margin-top: 15px;
}

.social-icons img {
	width: 18px;
	height: 18px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.social-icons img:hover {
	transform: scale(1.1);
}

/* Адаптив */
@media (max-width: 768px) {
	.footer-top {
		flex-direction: column;
		text-align: center;
	}

	.footer-links {
		flex-direction: column;
		align-items: center;
	}
}
