body {
	font-family: Poppins, sans-serif;
}

.footer-container {
	background-color: #111;
	width: 100%;
}

.footer {
	color: #333;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

.footer-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #3b3737;
	padding: 30px 40px;
	gap: 20px;
	flex-wrap: wrap;
}

.footer-top p {
	color: white;
	font-size: 15px;
	font-weight: 200;
	max-width: 850px;
	line-height: 1.5;
}

.book-now {
	background-color: #fff;
	color: #000;
	border: none;
	cursor: pointer;
	min-height: 40px;
	padding: 10px 30px;
	width: auto;
	min-width: 200px;
	border-radius: 50px;
	font-weight: 500;
	transition: all 0.3s ease;
	white-space: nowrap;
}
.footer-links {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 40px;
		flex-wrap: wrap;
		gap: 20px;
}
.footer-column {
    display: flex;
    gap: 150px;                 
    min-width: 200px;          
}


.footer-column h4 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;      
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;    
    gap: 12px;                
}
.footer-column ul li a {
    color: #b8b5b5;
    text-decoration: none;
    display: block;
}

.headline {
	font-size: 28px;
	margin: 10px 0;
	font-weight: 400;
	color: white;
}

.subtext {
	position: relative;
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 200;
	color: white;
	letter-spacing: 3px;
}

.email-form {
	display: flex;
	margin-bottom: 15px;
	width: 100%;
}

.email-input {
	flex: 1;
	padding: 10px 15px;
	border: 2px solid #fff;
	border-radius: 50px 0 0 50px;
	background: transparent;
	color: #fff;
	outline: none;
	min-width: 0;
}

.subscribe-button {
	padding: 10px 25px;
	border: none;
	background-color: #fff;
	color: #121212;
	border-radius: 0 50px 50px 0;
	cursor: pointer;
	font-weight: 500;
	white-space: nowrap;
}

.checkbox-container {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	font-size: 12px;
	margin-top: 10px;
	color: #b8b5b5;
	line-height: 1.4;
}

.checkbox-container input {
	margin-top: 2px;
}

.social-icons {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}

@media (max-width: 1024px) {
	.footer-links {
		justify-content: flex-start;
	}
}

@media (max-width: 768px) {
	.footer-top {
		flex-direction: column;
		text-align: center;
		padding: 20px;
	}

	.footer-top p {
		max-width: 100%;
	}

	.footer-links {
		flex-direction: column;
		padding: 20px;
	}

	.email-container {
		max-width: 100%;
		min-width: 100%;
	}
}